<?xml version='1.0' encoding='utf-8'?>
<widget id="com.randompotential.wewillrockyou" version="1.3.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ProductionAV</name>
    <description>
        Transitioning colour full screen and torch control for Theatre phone control.
    </description>
    <author email="travis.mason@gmail.com" href="http://monkeyandthemoose.com">
        Trav
    </author>
    <content src="index.html" />
    <access origin="*.monkeyandthemoose.com" />
	<platform name="ios" />
	<platform name="android" />
	<plugin name="cordova-plugin-insomnia" />
	<plugin spec="https://github.com/EddyVerbruggen/Flashlight-PhoneGap-Plugin" />
</widget>
