/* The animation code */
@keyframes example {
    0%   {background-color: white;}
    10%  {background-color: yellow;}
    20%  {background-color: lightskyblue;}
    30% {background-color: lightgreen;}
	40%   {background-color: yellow;}
    50%  {background-color: white;}
    60%  {background-color: lightskyblue;}
    70% {background-color: lightgreen;}
    80%  {background-color: lightcyan;}
    90%  {background-color: snow;}
    100%  {background-color: white;}

	}

/* The element to apply the animation to */
div {
    width: 100%;
    height: 1000px;
	padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
	background-color: white;
    animation-name: example;
    animation-duration: 25s;
	animation-iteration-count: infinite;
}